Package: com.ipadkid.bjutils
Name: BlackJacket Utilities
Depends: mobilesubstrate, libactivator, com.a3tweaks.flipswitch
Version: 0.0.1
Architecture: iphoneos-arm
Description: Backend support from SpringBoard to power ipad_kid tools (private)
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
